
/nvim/.config/nvim/autoload
/nvim/.config/nvim/undodir
/emacs/.emacs.d/elpa
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/transient
/emacs/.emacs.d/backup
/emacs/.emacs.d/.cache
/emacs/.emacs.d/.dap-breakpoints
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/.mc-lists.el
/emacs/.emacs.d/lsp-cache
/emacs/.emacs.d/.emacs.desktop.bak
/emacs/.emacs.d/elpa.bak/
/emacs/.emacs.d/lsp-cache.bak/
/emacs/.emacs.d/.org-id-locations
# /emacs/.emacs.d/bookmarks
/emacs/.emacs.d/projectile-bookmarks.eld
# /emacs/.emacs.d/.emacs.desktop
/emacs/.emacs.d/.emacs.desktop.lock
/emacs/.emacs.d/lisp/
/emacs/.emacs.d/#bookmarks#
/emacs/.emacs.d/org-roam.db
/emacs/.emacs.d/recentf
/emacs/.emacs.d/undo-fu-session/
/emacs/.emacs.d/games
/emacs/.emacs.d/forge-database.sqlite
/emacs/.emacs.d/pomm
/emacs/.emacs.d/tramp
/emacs/.emacs.d/elpy/
/emacs/.emacs.d/init.el\~
/gtk3/.config/gtk-3.0/bookmarks
/emacs/.emacs.d/request/
/emacs/.emacs.d/.bookmarks.~undo-tree~
/emacs/.emacs.d/.init.el.~undo-tree~
/emacs/.emacs.d/emacs-undo-tree.d
