/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/usr/share/rofi/themes/sidebar.rasi"
@theme "/home/luisbarrera/.local/share/rofi/themes/spotlight-dark.rasi"
