# set key repeat rate. delay 200 milisecond, 60 per sec
xset r rate 200 60 &

# set slock as screen-locker
xautolock -time 100 -locker slock &

# set touchpad configs
touchpad=$(xinput list --id-only 'SynPS/2 Synaptics TouchPad')
# Perfil de aceleracion, 0 es constante y 1 adaptativo
# Device Accel Profile (309)
xinput set-prop $touchpad 309 1
# Presiones para detectar: el dedo salió, el dedo entró, dejarlo en 0
# Synaptics Finger (313)
# xinput set-prop $touchpad 313 40, 50, 0
# Tiempo para detectar un toque en touchpad
# Synaptics Tap Time (314)
xinput set-prop $touchpad 315 100
# Tiempo para detectar un movimiento en touchpad
# Synaptics Tap Move (315)
# xinput set-prop $touchpad 315 200
# Distancia que se recorre con el scroll
# Synaptics Scrolling Distance (321)
xinput set-prop $touchpad 322 80, 50
# Activar scrool usando: borde derecho del touchpad, borde inferior del touchpad, poner un dedo en la esquina para poder hacer scroll
# Synaptics Edge Scrolling (322)
xinput set-prop $touchpad 323 1, 1, 0
# Permitir scroll a dos dedos: vertical, horizontal
# Synaptics Two-Finger Scrolling (323)
xinput set-prop $touchpad 324 1, 1
# Factores de velocidad cuando: movemos lento el dedo, movemos rapido el dedo, un factor de cambio, <deprecated>
# Synaptics Move Speed (324)
xinput set-prop $touchpad 325 1.0, 2.0, 0.03, 0
# Circular scrolling, hacer scrolling como en un iPod
# Synaptics Circular Scrolling (330)
xinput set-prop $touchpad 331 1
# El circular scrolling empieza desde el borde superior
# Synaptics Circular Scrolling Trigger (332)
xinput set-prop $touchpad 333 7
# En lugar de usar los bordes usamos un elipse al interior del touchpad para hacer el scroll
# Synaptics Circular Pad (333)
xinput set-prop $touchpad 334 1
# Coasting, sigue haciendo scroll por un momento después de dejar el touchpad
# Synaptics Coasting Speed (336)
# xinput set-prop $touchpad 336 20, 50
# Detección de palmas
# Synaptics Palm Detection (334)
xinput set-prop $touchpad 335 1

# set trackpoint configs
# trackpoint=$(xinput list --id-only "TPPS/2 IBM TrackPoint")
# Velocidad del apuntador
# xinput set-prop $trackpoint 362 0
# Perfiles de aceleración
# xinput set-prop $trackpoint 363 0, 0

# Abrir aplicaciones después del display server, pero antes del WM
# xcompmgr &
# light-locker &
gnome-keyring-daemon --start &
redshift-gtk &
flameshot &
parcellite -d &
picom -b &
playerctld daemon &
syncthingtray --wait &
seahorse &
lxsession &
# pcloud &
# clight-gui --tray &
# fetchcord --nohost --nohardware --time 15 --terminal 'kitty' &
# unclutter &

# Programas no deamonizados
emacs &
firefox &
# qutebrowser &
kitty --detach btop &
# kitty --detach wisdom-tree &

# Intercambia la tecla CAPS con CTRL-Izq
setxkbmap -option 'ctrl:swapcaps'

# Monitor de cambios en el File System
#setsid fswatch -x -L /home/luisbarrera/google-drive/* | xargs -I{} ~/scripts/drive-push.sh {} >/dev/null 2>&1 < /dev/null &

# Daemons de Emacs
#/bin/emacs --daemon &

# Java y WM
export AWT_TOOLKIT=MToolkit

eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK
